body, html
{
	background-color: #F6F4F1 !important;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

main {
	flex: 1 0 auto;
}

.side-nav {
	width: 240px;
}

.side-nav li > a {
	height: 64px;
    line-height: 64px;
}

#sidebarIcon {
    line-height: 64px;
    margin: 0 16px 0 0;
    color: #546e78;
}

#upcomingEvent {
	padding-top: 5px;
}

.icon-block {
	padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.page-footer {
	padding-bottom: 20px;
	background-color: #E1DEDC;
}

.btn-large {
	width: 60vw;
}

#redName {
	color: red;
}

nav {
	background-color: #6C567B;
}

nav .brand-logo {
	font-size: 1.2rem;
}

nav.clean{
    background: none;
    box-shadow: none;
    padding-left: 10px;
    padding-right: 10px;
}

.tabs .indicator{
    background-color: #88AAA9;
}

.breadcrumb {
	font-size: 3.75vw;
}

.breadcrumb:before {
	font-size: 3vw;
    color: rgba(0,0,0,0.7);
}

.breadcrumb, .breadcrumb:last-child {
   	color: rgba(0,0,0,1);
}

#test-swipe-1, #test-swipe-2 {
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 10px;
}

a {
	color: #88AAA9;
}

h1 {
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 23px;
	color: black;
	margin-top: 5px;
	margin-bottom: 5px;
}

h2 {
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 23px;
	color: black;
	margin-top: 5px;
	margin-bottom: 5px;
}

h3 {
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
	color: black;
	margin-top: 5px;
	margin-bottom: 5px;
}

p {
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
	color: black;
}

blockquote {
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
	color: black;
}

pre {
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
	color: black;
}

.container-chart {
	width: 80%;
	margin: 20px auto;
}

.p-chart {
	text-align: center;
	font-size: 14px;
	padding-top: 140px;
}

#userName {
	font-weight: 900;
}
